.root {
  display: grid;
  grid-template-columns: 2em 1fr 1fr 1fr 1fr;
  margin-right: var(--cell-border-weight);
  margin-bottom: var(--cell-border-weight);
  font-size: 0.7em;
}

.root > * {
  margin-right: calc(-1 * var(--cell-border-weight));
  margin-bottom: calc(-1 * var(--cell-border-weight));
}

.label {
  text-align: right;
  padding: var(--cell-padding);
  margin: 0;
  margin-top: var(--cell-border-weight); 
}
