.root {
  display: grid;
  max-width: 50em;
  margin: auto;
  grid-row-gap: 1em;
  row-gap: 1em;
}

.register_editor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2em;
  column-gap: 2em;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
  grid-row-gap: 0.5em;
  row-gap: 0.5em;
}

.actions button {
  white-space: nowrap;
}

/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.semi_hidden {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.processor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2em;
  column-gap: 2em;
}

.left_controls {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: fit-content;
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
  grid-row-gap: 0.5em;
  row-gap: 0.5em;
}

.label {
  text-align: right;
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
}

.info_message {
  padding: 0.5em;
  color: var(--info-text);
  background: var(--info-text-bg);
}

.error_message {
  padding: 0.5em;
  color: var(--error-text);
  background: var(--error-text-bg);
}

.switch_view_button {
  grid-column: 4;
  grid-column-end: 6;
}
