.root {
  display: grid;
  max-width: 50em;
  margin: auto;
  grid-row-gap: 1em;
  row-gap: 1em;
}

.register_editor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2em;
  column-gap: 2em;
}

/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.semi_hidden {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.processor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2em;
  column-gap: 2em;
}

.left_controls {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: fit-content;
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
  grid-row-gap: 0.5em;
  row-gap: 0.5em;
}

.label {
  text-align: right;
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
}

.key > * {
  display: inline-block;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
