:root {
  --cell-border-weight: 2px;
  --cell-padding: 0.2em;
  --selected: #000;

  --read-bg: #c8e6c9;
  --write-bg: #74ce79;
  --instruction-bg: #6bb5f1;
  --jump-target-bg: #bbdefb;
  --error-bg: #ef5350;
  --address-bg: #e1bee7;

  --info-text: #0d47a1;
  --info-text-bg: #e3f2fd;
  --error-text: #b71c1c;
  --error-text-bg: #ffebee;
}

body {
  margin: 0.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#alerts {
    height: 40px;
    line-height: 40px;
}

.flat-button {
  background: #FFF;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  font-size: 0.8em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  cursor: pointer;
}

.flat-button.pressed, .flat-button:hover
{
  background: #EEE;
}

.flat-button:active
{
  background: #FFF;
}

#board {
    position: relative;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.datapath {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.datapath .component {
  fill: #fff;
  stroke: black;
  stroke-width: 1px;
}

.use_read {
  fill: var(--read-bg);
  background: var(--read-bg);
}

.use_write {
  fill: var(--write-bg);
  background: var(--write-bg);
}

.use_instruction {
  fill: var(--instruction-bg);
  background: var(--instruction-bg);
}

.use_jump_target {
  fill: var(--jump-target-bg);
  background: var(--jump-target-bg);
}

.use_error {
  fill: var(--error-bg);
  background: var(--error-bg);
}

.use_address {
  fill: var(--address-bg);
  background: var(--address-bg);
}

.datapath .label {
  fill: #000;
  stroke: none;
  font-family: sans-serif;
  font-size: 16px;
}

.datapath .small-label {
  fill: #000;
  stroke: none;
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;
}

.datapath .value {
  fill: #22F;
  stroke: none;
  font-family: sans-serif;
  font-size: 14px;
}

.datapath .active {
  fill: #44ee44;
}
.datapath .inactive {
  fill: #cceecc;
}

.datapath .wire {
  stroke: black;
  stroke-width: 1px;
}

.datapath .wire.inactive {
  stroke-dasharray: 1px 2px;
  stroke-width: 1px;
}

.datapath .wire.active.low {
  stroke: black;
  stroke-width: 1px;
}

.datapath .wire.active {
  stroke: #5555FF;
  stroke-width: 2.5px;
}

.datapath .wire.active .used {
  stroke: #000;
  stroke-width: 3px;
}

.datapath .wire.conflict {
  stroke: #FF2222;
  stroke-width: 3px;
}

.intersection {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    box-sizing: border-box;
}

.intersection:before {
    border-top: 2px #000 solid;
    width: 40px;
    display: block;
    content: "";
    top: 18px;
    position: absolute;
    z-index: -1;
}

.intersection:after {
    border-left: 2px #000 solid;
    height: 40px;
    display: block;
    content: "";
    left: 18px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.intersection.black, .intersection.white {
    border: 1px solid #000;
}

.intersection.black {
    background-color: #444;
}

.intersection.white {
    background-color: #eee;
}
