# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build And Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: yarn install
    - name: Build
      run: yarn build
    - name: Deploy
      uses: crazy-max/ghaction-github-pages@v2.1.3
      with:
        build_dir: build/
      env:  
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
